/scan-tls-domains/testssl.sh/
/scan-tls-domains/result.csv
/scan-tls-domains/resultado.csv
/scan-tls-domains/domains.txt
/scan-tls-domains/scan_results.csv
/scan-tls-domains/a_records.json
/scan-port-domains/a_records.json
/scan-public-ips/record_public_ip.json
/scan-public-ips/port_22_scan_result.csv
/tests/testssl.sh/
/tests/result.json