/scan-port-domains/domains.txt
/scan-port-domains/records.json
/scan-port-domains/scan_results.csv
/scan-port-domains/a_records.json

/scan-ports-public-ips/record_public_ip.json
/scan-ports-public-ips/scan_publicips_result.json

/tests/testssl.sh/
/tests/result.json

/scan-tls-domains/testssl.sh/
/scan-tls-domains/tls_results/
/scan-tls-domains/records.json

## new folders version
/export-iam-users/iam_users_result.csv
/export-iam-users/iam_users_result.json

/scan-1000-ports-public-ips/scan_publicips_result.csv
/scan-1000-ports-public-ips/scan_publicips_result.json
/scan-1000-ports-public-ips/record_public_ip.json

/scan-headers-domains/verified_headers_results.csv
/scan-headers-domains/verified_headers_results.json
/scan-headers-domains/records.json

/scan-populars-ports-public-ips/scan_publicips_result.csv
/scan-populars-ports-public-ips/scan_publicips_result.json
/scan-populars-ports-public-ips/record_public_ip.json